// VARIABLES
$color-primary: #a8d8cd;
$color-primary-light: #51ddfc; 
$color-primary-dark: #4da2bb;

$color-grey-dark; #777;
$color-white: #fff;

$color-btn-default: #51ddfc;
$color-btn-success: #63cc82;
$color-btn-error: #e4757a;
$color-btn-warning: #fd7856;
$color-btn-info: #927bc1;

// FONTS
$font-stack-primary: 'Lato', sans-serif;

// MEDIA QUERIES
$break-md-tablet: 768px;
