// GRID 

.container {
    padding: 0 10px;
    @include for-tablet-up {
        max-width: $max-width-laptop;
        @include centered;
    }
}

.row {
    @include flex-column;
    padding: 1em 10px;
    @include for-tablet-up {
        flex-direction: row;
    }
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include for-tablet-up {
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
        & + [class^=col] {
            margin-left: 10px;
        }
    }
}

.col-1 {
    @include for-tablet-up {
        flex-basis: 8.33%;
    }
}

.col-2 {
    @include for-tablet-up {
        flex-basis: 16.67%;
    }
}

.col-3 {
    @include for-tablet-up {
        flex-basis: 25.00%;
    }
}

.col-4 {
    @include for-tablet-up {
        flex-basis: 33.33%;
    }
}

.col-5 {
    @include for-tablet-up {
        flex-basis: 41.67%;
    }
}

.col-6 {
    @include for-tablet-up {
        flex-basis: 50.00%;
    }
}

.col-7 {
    @include for-tablet-up {
        flex-basis: 58.33%;
        @include horizontal-center;
    }
}

.col-8 {
    @include for-tablet-up {
        flex-basis: 66.67%;
    }
}

.col-9 {
    @include for-tablet-up {
        flex-basis: 75.00%;
    }
}

.col-10 {
    @include for-tablet-up {
        flex-basis: 83.33%;
    }
}

.col-11 {
    @include for-tablet-up {
        flex-basis: 91.67%;
    }
}

.col-12 {
    @include for-tablet-up {
        flex-basis: 100%;
    }
}

.theme.col-1 {
    background-color: $color-btn-info;
}

.theme.col-2 {
    background-color: $color-btn-warning;
}

.theme.col-3 {
    background-color: lighten($color-btn-info, 18%);
}

.theme.col-4 {
    background-color: lighten($color-btn-default, 8%);
}

.theme.col-5 {
    background-color: lighten($color-btn-success, 10%);
}

.theme.col-6 {
    background-color: $color-primary-dark;
}

.theme.col-7 {
    background-color: lighten($color-btn-error, 10%);
}

.theme.col-8 {
    background-color: lighten($color-btn-warning, 10%);
}

.theme.col-9 {
    background-color: $color-btn-error;
}

.theme.col-10 {
    background-color: $color-btn-success;
}

.theme.col-11 {
    background-color: $color-btn-default;
}

.theme.col-12 {
    background-color: lighten($color-btn-default, 13%);
}

.card {
    flex-basis: 100%;
}
