/* ============================================= */
/*              Grid                            */
/* ============================================= */

.container {
    padding: 0 10px;
    @include for-tablet-up {
        max-width: $max-width-laptop;
        @include centered;
    }
}

.row {
    @include flex-column;
    padding: 1em 10px;
    @include for-tablet-up {
        flex-direction: row;
    }
}

[class^=col] {
    margin-top: $gutter;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include for-tablet-up {
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
        & + [class^=col] {
            margin-left: $gutter;
        }
    }
}

.col {
    &-1 {
        @include for-tablet-up {
            flex-basis: 8.33%;
        }
    }
    &-2 {
        @include for-tablet-up {
            flex-basis: 16.67%;
        }
    }
    &-3 {
        @include for-tablet-up {
            flex-basis: 25.00%;
        }
    }
    &-4 {
        @include for-tablet-up {
            flex-basis: 33.33%;
        }
    }
    &-5 {
        @include for-tablet-up {
            flex-basis: 41.67%;
        }
    }
    &-6 {
        @include for-tablet-up {
            flex-basis: 50.00%;
        }
    }
    &-7 {
        @include for-tablet-up {
            flex-basis: 58.33%;
            @include horizontal-center;
        }
    }
    &-8 {
        @include for-tablet-up {
            flex-basis: 66.67%;
        }
    }
    &-9 {
        @include for-tablet-up {
            flex-basis: 75.00%;
        }
    }
    &-10 {
        @include for-tablet-up {
            flex-basis: 83.33%;
        }
    }
    &-11 {
        @include for-tablet-up {
            flex-basis: 91.67%;
        }
    }
    &-12 {
        @include for-tablet-up {
            flex-basis: 100%;
        }
    }
}

// COL THEMES 

.theme.col {
    &-1 {
        background-color: $color-btn-info;
    }
    &-2 {
        background-color: $color-btn-warning;
    }
    &-3 {
        background-color: lighten($color-btn-info, 18%);
    }
    &-4 {
        background-color: lighten($color-btn-default, 8%);
    }
    &-5 {
        background-color: lighten($color-btn-success, 10%);
    }
    &-6 {
        background-color: $color-primary-dark;
    }
    &-7 {
        background-color: lighten($color-btn-error, 10%);
    }
    &-8 {
        background-color: lighten($color-btn-warning, 10%);
    }
    &-9 {
        background-color: $color-btn-error;
    }
    &-10 {
        background-color: $color-btn-success;
    }
    &-11 {
        background-color: $color-btn-default;
    }
    &-12 {
        background-color: lighten($color-btn-default, 13%);
    }
}

.card {
    flex-basis: 100%;
}
