/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    font-family: $font-stack-primary;
    color: $color-grey-dark;
    box-sizing: border-box;
}

p {
    line-height: 1.45em;
}

a {
    text-decoration: none;
}

.headline {
    &-primary {
        color: $color-btn-accent;
        margin-left: $gutter;
    }
    &-secondary {
        font-weight: $font-weight-lighter;
        color: $color-grey-dark;
    }
}

.link {
    color: $color-primary-light;
    font-weight: $font-weight-bold;
}

.blockquote {
    font-size: 1.5em;
    font-weight: $font-weight-lighter;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-btn-accent;
    border-radius: 5px;
}

